extends layout

link(href='./stylesheets/bootstrap.css', rel='stylesheet')

block content 
   .container 
     h1.title-pages Histoire du Metal
      .container
      p#story Aenean quis justo eu urna feugiat facilisis ut ac nisi. Nunc rutrum enim non orci consequat, vel sagittis neque commodo. Vivamus convallis justo nec velit dapibus, et aliquet nulla rhoncus.
