extends layout

link(href='./stylesheets/bootstrap.css', rel='stylesheet')
link(href='./stylesheets/gallery.css', rel='stylesheet')
link(href='./stylesheets/style.css', rel='stylesheet')
link(href='https://fonts.googleapis.com/css?family=Creepster&display=swap', rel='stylesheet')

block content 
   .container 
     h2#bands-h1 Liste des principaux groupes de Sed.    
     .bands	 
       p.bands-titles-color Alithius Ipsumius
        p.styles Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec vestibulum purus. Nunc malesuada aliquam augue, nec venenatis odio rhoncus in. Sed vel congue elit. Proin eu risus a enim euismod fringilla.
      .bands	 
       p.bands-titles-color Dolorina Nullasca
        p.styles Quisque bibendum ipsum vel tristique bibendum. Suspendisse eget ipsum justo. Integer quis augue et est fringilla feugiat. Ut eget bibendum libero. Phasellus varius, turpis vel tristique congue, sem lacus facilisis sapien.
      .bands	 
       p.bands-titles-color Vestibulumius Loremis
        p.styles Vestibulum eu justo vel libero efficitur volutpat. Integer dapibus nulla in congue vulputate. Morbi eget nunc non mauris efficitur consectetur. Fusce varius risus ut tristique rhoncus. Nullam a metus ut lacus congue sagittis.
      .bands	 
       p.bands-titles-color Ipsumus Adipiscius
        p.styles Dolor sit amet, consectetur adipiscing elit. Vivamus ut elit vel tortor congue fermentum in ut dui. Sed vel commodo mi. Suspendisse a efficitur neque. In hac habitasse platea dictumst.
      .bands	 
       p.bands-titles-color Quisquetta Elitara
        p.styles Quisque ullamcorper bibendum lectus, id convallis quam fermentum eu. Sed eu quam nec justo facilisis rhoncus. Nullam vel feugiat quam. Fusce consectetur, elit et commodo bibendum, sem arcu egestas turpis. Curabitur eget nisl vel ligula auctor eleifend.
        