extends layout

link(href='./stylesheets/bootstrap.css', rel='stylesheet')
link(href='./stylesheets/gallery.css', rel='stylesheet')
link(href='./stylesheets/style.css', rel='stylesheet')
link(href='https://fonts.googleapis.com/css?family=Creepster&display=swap', rel='stylesheet')

block content 
   .container 
     h1.title-pages Sed	 
      .container
       .fg-gallery
           img.gallery(alt='picture', src='images/sed-1.jpg')
           img.gallery(alt='picture', src='images/sed-2.jpg')
           img.gallery(alt='picture', src='images/sed-3.jpg')
           img.gallery(alt='picture', src='images/sed-4.jpg') 
    p.styles Phasellus vel justo at dolor rhoncus dapibus. Vestibulum fermentum libero sit amet justo dapibus, vel laoreet ipsum efficitur. Suspendisse potenti. Nam id erat at urna feugiat ultrices ut eu turpis. Sed auctor dui id felis commodo, ut rhoncus lectus commodo. 