extends layout

link(href='./stylesheets/bootstrap.css', rel='stylesheet')
link(href='./stylesheets/gallery.css', rel='stylesheet')
link(href='./stylesheets/style.css', rel='stylesheet')
link(href='https://fonts.googleapis.com/css?family=Creepster&display=swap', rel='stylesheet')

block content 
   .container 
     h2#bands-h1 Liste des principaux groupes de Duis.    
     .bands	 
       p.bands-titles-color Ipsumicus Novellus
        p.styles Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel efficitur nulla. Sed euismod purus vitae sapien congue, at sollicitudin leo bibendum. Maecenas ac fringilla justo. Curabitur vulputate, ipsum vel mattis volutpat, mauris arcu feugiat justo.
      .bands	 
       p.bands-titles-color Consecteturus Adipisca
        p.styles Quisque commodo ipsum a elit consectetur, sit amet pulvinar elit convallis. Nullam non justo quis ipsum scelerisque fringilla. Morbi nec mi vel justo euismod ultricies a vel justo. Suspendisse in arcu quis turpis luctus gravida vel nec elit.
      .bands	 
       p.bands-titles-color Vestibulumia Loremus
        p.styles Vestibulum at justo vel libero feugiat venenatis. Duis nec fringilla dolor. Nam ultricies turpis vel eros egestas eleifend. Nullam eu orci ut quam facilisis bibendum non a justo. Suspendisse potenti.
      .bands	 
       p.bands-titles-color Doloriana Ipsumina
        p.styles Dolor sit amet, consectetur adipiscing elit. Ut eu elit vel nunc dapibus fermentum. In at elit in justo efficitur gravida. Sed vel commodo sapien. Duis a augue nec augue dapibus commodo vitae eget purus.
      .bands	 
       p.bands-titles-color Quisquettia Elitara
        p.styles Quisque ullamcorper augue eget nisi efficitur, a convallis velit malesuada. Nam ac efficitur dolor, nec accumsan quam. Curabitur consectetur bibendum sapien, id bibendum elit malesuada eu. Suspendisse auctor justo et dui lacinia, et viverra orci bibendum.
        