extends layout

link(href='./stylesheets/bootstrap.css', rel='stylesheet')

block content 
   .container 
     h1.title-pages Duis 	 
      .container
       .fg-gallery
           img.gallery(alt='picture', src='images/duis-1.jpg')
           img.gallery(alt='picture', src='images/duis-2.jpg')
           img.gallery(alt='picture', src='images/duis-3.jpg')
           img.gallery(alt='picture', src='images/duis-4.jpg')  
    p.styles Morbi fringilla, ante vel tincidunt malesuada, sapien urna condimentum tellus, ac tincidunt nisl ipsum at justo. Etiam hendrerit, arcu nec tincidunt venenatis, tortor mauris eleifend lacus, id dapibus orci mauris non libero. Ut vel metus euismod, ultricies elit at, varius libero. Vivamus eu turpis ut elit hendrerit volutpat a a elit.
        
