extends layout

link(href='./stylesheets/bootstrap.css', rel='stylesheet')
link(href='./stylesheets/gallery.css', rel='stylesheet')
link(href='./stylesheets/style.css', rel='stylesheet')
link(href='https://fonts.googleapis.com/css?family=Creepster&display=swap', rel='stylesheet')

block content 
   .container 
     h2#bands-h1 Liste des principaux groupes de Mauris vel.    
     .bands	 
       p.bands-titles-color Maximus Ipsumus
        p.styles Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin fringilla, nisi et gravida luctus, felis justo condimentum elit, id blandit ex metus eu dolor.
      .bands	 
       p.bands-titles-color Dolorina Novella
        p.styles Quisque bibendum ipsum a elit aliquet, eget facilisis nisl tincidunt. Nullam vel ligula id elit vehicula auctor. Fusce et justo eget velit viverra luctus ut nec purus.
      .bands	 
       p.bands-titles-color Vestibulumus Adipiscius
        p.styles Vestibulum auctor justo vel sem sodales, eu sollicitudin tortor interdum. Mauris rhoncus purus a est gravida, vel venenatis odio pulvinar. Nulla facilisi. Integer cursus, ex non varius aliquet, felis elit consectetur ex.
      .bands	 
       p.bands-titles-color Ipsumina Loremiana
        p.styles Dolor sit amet, consectetur adipiscing elit. Phasellus eu justo vel sem lobortis varius. Suspendisse potenti. Fusce non justo ut leo imperdiet fermentum. Vestibulum non mauris vitae sem accumsan congue.
      .bands	 
       p.bands-titles-color Quisquetta Elitara
        p.styles Quisque ullamcorper vel eros vel varius. In hac habitasse platea dictumst. Vivamus vel lectus sit amet tellus facilisis cursus. Ut aliquam purus et elit vehicula, nec dignissim arcu laoreet. Curabitur varius ante eu ex sollicitudin, at auctor risus consectetur.
        