extends layout

link(href='./stylesheets/bootstrap.css', rel='stylesheet')

block content 
   .container 
     h1.title-pages Mauris vel
      .container
       .fg-gallery
           img.gallery(alt='picture', src='images/vel-1.jpg')
           img.gallery(alt='picture', src='images/vel-2.jpg')
           img.gallery(alt='picture', src='images/vel-3.jpg')
           img.gallery(alt='picture', src='images/vel-4.jpg')  
    p.styles Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dapibus, leo id consectetur fringilla, ligula turpis suscipit massa, vel bibendum purus purus vel justo. Fusce eget tincidunt augue. 
        
