extends layout

link(href='./stylesheets/bootstrap.css', rel='stylesheet')

block content 
   .container 
     h1.title-pages Aliquam nec
      .container
       .fg-gallery
           img.gallery(alt='picture', src='images/aliquam-1.jpg')
           img.gallery(alt='picture', src='images/aliquam-2.jpg')
           img.gallery(alt='picture', src='images/aliquam-3.jpg')
           img.gallery(alt='picture', src='images/aliquam-4.jpg')  
    p.styles Vestibulum ut elit et ex blandit vehicula. Sed tristique, mauris vitae scelerisque congue, odio justo accumsan risus, a eleifend ex ligula eu libero. Sed auctor arcu eu ante vehicula, id fermentum elit malesuada. Nunc non ligula ut mi fringilla tincidunt
        
