extends layout

link(href='./stylesheets/bootstrap.css', rel='stylesheet')
link(href='./stylesheets/gallery.css', rel='stylesheet')
link(href='./stylesheets/style.css', rel='stylesheet')
link(href='https://fonts.googleapis.com/css?family=Creepster&display=swap', rel='stylesheet')

block content 
   .container 
     h2#bands-h1 Liste des principaux groupes de Aliquam nec.    
     .bands	 
       p.bands-titles-color Isabella Ipsumina
        p.styles Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse potenti. Integer consequat nisl vitae mauris sollicitudin, nec fermentum sapien commodo. Curabitur vitae ultrices ligula. Nunc ut hendrerit velit.
      .bands	 
       p.bands-titles-color Maximilian Nullamius
        p.styles Quisque bibendum odio ac lectus sodales, eget tincidunt nulla bibendum. Nulla facilisi. Ut ultrices ipsum in ligula fringilla, vel fermentum quam congue. Sed tristique volutpat tortor, eu tincidunt orci pellentesque in.
      .bands	 
       p.bands-titles-color Seraphina Adipiscia
        p.styles Vestibulum auctor justo vel sem sodales, eu sollicitudin tortor interdum. Vivamus rhoncus euismod efficitur. Duis et bibendum metus. Sed ac luctus justo, non eleifend felis. Nullam vel est vel libero tempus fringilla.
      .bands	 
       p.bands-titles-color Lucianus Loredonius
        p.styles Dolor sit amet, consectetur adipiscing elit. Sed quis hendrerit quam. Fusce at arcu justo. Aenean varius cursus turpis, a suscipit tellus ultricies nec. Nullam aliquam justo sit amet justo commodo, a efficitur ligula bibendum.
      .bands	 
       p.bands-titles-color Octavia Quisquetta
        p.styles Quisque ullamcorper vel eros vel varius. Integer at erat vel augue viverra gravida. Maecenas vestibulum, velit a fermentum scelerisque, ex urna viverra odio, eu lacinia odio purus a libero. Suspendisse potenti.