extends layout

link(href='./stylesheets/bootstrap.css', rel='stylesheet')

block content 
   .container 
     h1.title-pages Malesuada sapien 
      .container
       .fg-gallery
           img.gallery(alt='picture', src='images/maelesuada-1.jpg')
           img.gallery(alt='picture', src='images/maelesuada-2.jpg')
           img.gallery(alt='picture', src='images/maelesuada-3.jpg')
           img.gallery(alt='picture', src='images/maelesuada-4.jpg')  
    p.styles Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius elit id luctus volutpat. Proin facilisis elit id mauris dapibus, vel pulvinar eros bibendum. Integer non metus in purus condimentum ultricies.
        
