extends layout

link(href='./stylesheets/bootstrap.css', rel='stylesheet')

block content 
   .container 
     h1.title-pages Vestibulum 	 
      .container
       .fg-gallery
           img.gallery(alt='picture', src='images/vesti-1.jpg')
           img.gallery(alt='picture', src='images/vesti-2.jpg')
           img.gallery(alt='picture', src='images/vesti-3.jpg')
           img.gallery(alt='picture', src='images/vesti-4.jpg')  
    p.styles Curabitur vitae justo ac odio fermentum ultrices. Nullam nec semper justo. Integer vel urna vitae nulla tincidunt aliquet. Suspendisse potenti. Vivamus tincidunt, quam id tincidunt feugiat, elit purus dignissim velit, eu eleifend est lectus nec arcu. 
        
