extends layout

link(href='./stylesheets/bootstrap.css', rel='stylesheet')
link(href='./stylesheets/gallery.css', rel='stylesheet')
link(href='./stylesheets/style.css', rel='stylesheet')
link(href='https://fonts.googleapis.com/css?family=Creepster&display=swap', rel='stylesheet')

block content 
   .container 
     h2#bands-h1 Liste des principaux groupes de Vestibulum.    
     .bands	 
       p.bands-titles-color Loremius Ipsumson
        p.styles Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec vestibulum justo. Sed nec augue id arcu elementum eleifend. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse potenti. Curabitur fringilla, mi eu fermentum vulputate, turpis elit hendrerit tellus, vel volutpat sapien lacus sed neque.
      .bands	 
       p.bands-titles-color Consectetura Nulladottir
        p.styles Phasellus eu justo nec mauris ullamcorper gravida. In hac habitasse platea dictumst. Etiam vel justo ac nisl finibus ultrices. Sed sodales arcu vitae dui ullamcorper, ac cursus felis gravida. Nulla facilisi. Vivamus ac urna quis justo tristique bibendum. Sed ullamcorper, sapien eu varius luctus, odio nisi fringilla justo, nec fermentum sem purus ut libero.
      .bands	 
       p.bands-titles-color Vestibulumacus Dolorsson
        p.styles Fusce et augue at odio bibendum tristique a vel sapien. Aliquam erat volutpat. Integer ut magna ac arcu rhoncus suscipit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam auctor, dolor eu sagittis bibendum, quam orci aliquam velit, a aliquet sapien orci a risus.
      .bands	 
       p.bands-titles-color Ipsumina Adipiscington
        p.styles Curabitur auctor ex vitae massa commodo, eu malesuada metus fermentum. Sed ullamcorper mi ut turpis tincidunt, vel tincidunt ligula pellentesque. Nam eget odio augue. Vivamus sit amet fermentum libero. Morbi sit amet tincidunt mi, in malesuada dui. Praesent nec justo in leo ullamcorper tincidunt. Aliquam ut lacus nec neque aliquet tincidunt id eu purus.
      .bands	 
       p.bands-titles-color Quisquebertus Elitus
        p.styles Quisque euismod sapien nec elit tincidunt, id condimentum dui venenatis. Suspendisse potenti. Donec vel mauris mi. In vestibulum odio nec ante tincidunt rhoncus. Etiam quis luctus enim. Sed eu felis nec mauris suscipit volutpat. Nullam aliquam convallis dolor, non dapibus sem fermentum ut. Integer vel elit vitae urna ultrices varius eget a nisi.
       
        