
extends layout

block content
   .container 
        .jumbotron 
            .container
               h1#title-container Lorem Ipsum
               p#presentation 
                 | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
               a#button-background.btn.btn-primary.btn-lg(href='/about') Vous voulez en savoir plus ?
        .container
            .row 
                .col-md-4 
                    h2 Lorem Ipsum 1
                    img(src='images/metal-1.jpg', class='articles-img', alt='metal-1')
                    p 
                      | Vestibulum euismod tincidunt felis, id laoreet odio tincidunt id. Sed auctor, elit vitae dapibus hendrerit, ligula lacus blandit nunc, sit amet bibendum eros turpis vel elit.
                    a.btn.btn-default(href='/heavymetal') VOIR PLUS
                .col-md-4
                    h2 Lorem Ipsum 2
                    img(src='images/metal-2.jpg', class='articles-img', alt='metal-2')										
                    p 
                      | Quisque consequat, eros sit amet ultricies laoreet, justo eros fringilla tortor, sed faucibus neque justo ut justo. Ut vel purus eu nunc tristique feugiat.
                    a.btn.btn-default(href='/thrashmetal') VOIR PLUS
                .col-md-4 
                    h2 Lorem Ipsum 3
                    img(src='images/metal-3.jpg', class='articles-img', alt='metal-3')
                    p 
                      | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    a.btn.btn-default(href='/deathmetal') VOIR PLUS
            .row 
                .col-md-4 
                    h2 Lorem Ipsum 4
                    img(src='images/metal-4.jpg', class='articles-img', alt='metal-4')                    
                    p 
                      | Sed ullamcorper mi sit amet metus hendrerit, id varius justo cursus. Fusce bibendum ipsum nec ante pretium, sit amet posuere elit varius.
                    a.btn.btn-default(href='/powermetal') VOIR PLUS
                .col-md-4 
                    h2 Lorem Ipsum 5
                    img(src='images/metal-5.jpg', class='articles-img', alt='metal-5')                    
                    p 
                      | In hac habitasse platea dictumst. Nullam eget est eu purus hendrerit congue a ut lacus.
                    a.btn.btn-default(href='/blackmetal') VOIR PLUS
                .col-md-4 
                    h2 Lorem Ipsum 6
                    img(src='images/metal-6.jpg', class='articles-img', alt='metal-6')
                    p 
                      | Mauris vel justo et nulla rhoncus aliquet. Sed auctor sodales justo, vel malesuada elit condimentum ut.
                    a.btn.btn-default(href='/doom') VOIR PLUS   
               .row                   
                .col-md-4 
                  h2 Lorem Ipsum 7
                  img(src='images/metal-7.jpg', class='articles-img', alt='metal-7')
                  p 
                    | Duis vitae augue eget nisl interdum facilisis. Phasellus eu magna sit amet nulla fringilla sagittis.
                  a.btn.btn-default(href='/hardcore') VOIR PLUS  
                .col-md-4 
                  h2 Lorem Ipsum 8
                  img(src='images/metal-8.jpg', class='articles-img', alt='metal-8')
                  p 
                    | Aliquam nec lacus ut neque malesuada malesuada. Nam non mauris nec turpis aliquet dignissim.
                  a.btn.btn-default(href='/speedmetal') VOIR PLUS 
                .col-md-4 
                  h2 Lorem Ipsum 9
                  img(src='images/metal-9.jpg', class='articles-img', alt='metal-9')
                  p 
                    | Fusce hendrerit, justo vel posuere suscipit, tellus velit gravida arcu, nec volutpat nulla quam vitae dolo
                  a.btn.btn-default(href='/grindcore') VOIR PLUS 
            
                
                