extends layout

link(href='./stylesheets/bootstrap.css', rel='stylesheet')
link(href='./stylesheets/gallery.css', rel='stylesheet')
link(href='./stylesheets/style.css', rel='stylesheet')
link(href='https://fonts.googleapis.com/css?family=Creepster&display=swap', rel='stylesheet')

block content 
   .container 
     h2#bands-h1 Liste des principaux groupes de In hac.    
     .bands	 
       p.bands-titles-color Alaricus Ipsumus
        p.styles Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut efficitur bibendum tristique. Sed vel justo at dui fringilla suscipit. Vestibulum eleifend urna in nibh vestibulum, vel commodo sapien facilisis.
      .bands	 
       p.bands-titles-color Doloriana Nullamia
        p.styles Quisque bibendum ipsum vel tristique bibendum. Suspendisse eget ipsum justo. Integer quis augue et est fringilla feugiat. Ut eget bibendum libero. Phasellus varius, turpis vel tristique congue, sem lacus facilisis sapien.
      .bands	 
       p.bands-titles-color Vestibulumius Adipisca
        p.styles Vestibulum auctor justo vel sem sodales, eu sollicitudin tortor interdum. Mauris rhoncus purus a est gravida, vel venenatis odio pulvinar. Nulla facilisi. Integer cursus, ex non varius aliquet, felis elit consectetur ex.
      .bands	 
       p.bands-titles-color Ipsumina Consecteta
        p.styles Dolor sit amet, consectetur adipiscing elit. Phasellus eu justo vel sem lobortis varius. Suspendisse potenti. Fusce non justo ut leo imperdiet fermentum. Vestibulum non mauris vitae sem accumsan congue.
      .bands	 
       p.bands-titles-color Quisquebertus Elitara
        p.styles Quisque ullamcorper vel eros vel varius. In hac habitasse platea dictumst. Vivamus vel lectus sit amet tellus facilisis cursus. Ut aliquam purus et elit vehicula, nec dignissim arcu laoreet. Curabitur varius ante eu ex sollicitudin, at auctor risus consectetur.
        