extends layout

link(href='./stylesheets/bootstrap.css', rel='stylesheet')

block content 
   .container 
     h1.title-pages In hac	 
      .container
       .fg-gallery
           img.gallery(alt='picture', src='images/inhac-1.jpg')
           img.gallery(alt='picture', src='images/inhac-2.jpg')
           img.gallery(alt='picture', src='images/inhac-3.jpg')
           img.gallery(alt='picture', src='images/inhac-4.jpg')  
    p.styles Sed id malesuada sapien. Phasellus vel massa eu arcu feugiat lacinia. Nulla facilisi. Sed vel consectetur justo. Vivamus non efficitur orci. Integer fringilla neque vel justo dapibus, vel cursus dui lacinia. Vivamus nec varius purus.
        
