extends layout

link(href='./stylesheets/bootstrap.css', rel='stylesheet')
link(href='./stylesheets/gallery.css', rel='stylesheet')
link(href='./stylesheets/style.css', rel='stylesheet')
link(href='https://fonts.googleapis.com/css?family=Creepster&display=swap', rel='stylesheet')

block content 
   .container 
     h2#bands-h1 Liste des principaux groupes de Duis vitae.    
     .bands	 
       p.bands-titles-color Valentina Ipsumus
        p.styles Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel magna eu arcu aliquam semper. Vestibulum auctor dignissim urna vel dictum. Suspendisse potenti. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
      .bands	 
       p.bands-titles-color Aurelius Nullamia
        p.styles Quisque bibendum ipsum sit amet sapien consectetur, vel dapibus elit congue. Nullam at cursus ipsum. In hac habitasse platea dictumst. Proin suscipit, augue vel tincidunt congue, augue mi fermentum nisl, ac egestas nulla eros nec dui.
      .bands	 
       p.bands-titles-color Seraphina Adipiscius
        p.styles Vestibulum auctor justo vel sem sodales, eu sollicitudin tortor interdum. Etiam et lectus eu elit tincidunt malesuada nec eget libero. Curabitur hendrerit turpis vel odio posuere, vel auctor metus egestas.
      .bands	 
       p.bands-titles-color Lucius Loremiana
        p.styles Dolor sit amet, consectetur adipiscing elit. Vivamus at quam nec libero lacinia suscipit nec a orci. Proin id magna eget augue blandit venenatis. Nunc rhoncus nisl ac libero congue, at pellentesque justo laoreet.
      .bands	 
       p.bands-titles-color Octavia Elitara
        p.styles Quisque ullamcorper vel eros vel varius. Sed vel luctus urna, vitae pellentesque dolor. Aenean vel ex vitae justo convallis dapibus. Sed at velit sit amet nunc tristique sollicitudin eu ac nunc.