extends layout

link(href='./stylesheets/bootstrap.css', rel='stylesheet')

block content 
   .container 
     h1.title-pages Duis vitae	 
      .container
       .fg-gallery
           img.gallery(alt='picture', src='images/vitae-1.jpg')
           img.gallery(alt='picture', src='images/vitae-2.jpg')
           img.gallery(alt='picture', src='images/vitae-3.jpg')
           img.gallery(alt='picture', src='images/vitae-4.jpg')  
    p.styles Sed fermentum erat vel dolor malesuada, ut fermentum ligula dignissim. Aliquam erat volutpat. Duis eu elit eget risus consectetur cursus. Integer vel efficitur enim. Suspendisse potenti. Vivamus ac sagittis ligula.
        
