extends layout

link(href='./stylesheets/bootstrap.css', rel='stylesheet')

block content 
   .container 
     h1.title-pages Quisque 
      .container
       .fg-gallery
           img.gallery(alt='picture', src='images/quisque-1.jpg')
           img.gallery(alt='picture', src='images/quisque-2.jpg')
           img.gallery(alt='picture', src='images/quisque-3.jpg')
           img.gallery(alt='picture', src='images/quisque-4.jpg')  
    p.styles Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor.
        
