extends layout

link(href='./stylesheets/bootstrap.css', rel='stylesheet')
link(href='./stylesheets/gallery.css', rel='stylesheet')
link(href='./stylesheets/style.css', rel='stylesheet')
link(href='https://fonts.googleapis.com/css?family=Creepster&display=swap', rel='stylesheet')

block content 
   .container 
     h2#bands-h1 Liste des principaux groupes de Quisque.    
     .bands	 
       p.bands-titles-color Loremus Ipsumus
        p.styles Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consectetur tortor non facilisis luctus. Fusce ullamcorper, justo nec cursus varius, sem justo convallis nulla, in commodo urna libero et arcu.
      .bands	 
       p.bands-titles-color Consecteta Nulladolora
        p.styles Quisque bibendum fringilla diam id rhoncus. Nullam auctor, leo in gravida posuere, nisi elit lacinia metus, a cursus metus nisl sit amet libero. Vestibulum ullamcorper ultrices neque, in consectetur justo bibendum vel.
      .bands	 
       p.bands-titles-color Vestibulumia Dolorum
        p.styles Proin ac urna vel sapien auctor elementum. Mauris vel risus et arcu vestibulum ultrices a nec libero. Sed auctor nunc eget metus luctus, in lacinia elit hendrerit. 
      .bands	 
       p.bands-titles-color Ipsumina Adipiscing
        p.styles Integer et justo eu dui bibendum consectetur. Phasellus venenatis dui vel quam rhoncus, nec fermentum mi efficitur. Vestibulum feugiat libero in erat interdum facilisis.
      .bands	 
       p.bands-titles-color Quisqueberta Elitatis
        p.styles Fusce vel quam at elit volutpat lacinia eget sit amet dolor. Nam ac sem id ipsum convallis malesuada. Vivamus et orci eget justo ullamcorper egestas a et nulla.
        